html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.downloadBtn{
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  color:magenta;
  

}
.changeimage{
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  color:magenta;
 

}
.emojiInfo{
  font-size: large;
  color:magenta;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

